body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(135deg, #ff5f8a, #ff7676);
    font-family: "Segoe UI", sans-serif;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.screen {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 40px 20px;
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fade 1s ease;
}

.screen.active {
    display: flex;
}

button {
    margin-top: 20px;
    background: white;
    color: #ff5f8a;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.08);
}

.big-heart {
    font-size: 80px;
    margin: 20px;
    cursor: pointer;
    animation: pulse 1s infinite;
}

.timeline {
    margin: 20px 0;
}

.event {
    margin: 8px 0;
    font-size: 15px;
}

#secretText {
    margin-top: 15px;
    font-size: 16px;
    opacity: 0;
    transition: 1s;
}

@keyframes fade {
    from { opacity: 0; transform: translateY(30px);}
    to { opacity: 1; transform: translateY(0);}
}

@keyframes pulse {
    0% { transform: scale(1);}
    50% { transform: scale(1.2);}
    100% { transform: scale(1);}
}
